# --- Python & UV ---
__pycache__/
*.pyc
.venv/
.python-version

# --- OS Specific ---
.DS_Store

# --- IDEs ---
.vscode/
.idea/
other/
runs/
*.pth

# Ignore generated plots and GIFs
*.png
*.gif
*.pdf

common/common.egg-info/


